main {
    padding-top: 4rem;
}

#upload_photo_form {
    margin: 10px 40% 10px 40%;
    text-align: center;
}

#upload_photo_form input {
    width: 100%;

}

.hidden {
    display: none !important
}

.upload_image_card {
    width: 200px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

@media only screen and (max-width: 600px) {
    .upload_image_card {
        display: block;
    }
}