main {
    padding-top: 4rem;
}

#upload_photo_form {
    margin: 10px 40% 10px 40%;
    text-align: center;
}

#upload_photo_form input {
    width: 100%;

}

.hidden {
    display: none !important
}

.upload_image_card img {
    margin: 3%;
    width: 94%;
}

.upload_image_card div {
    width: 180px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

.photos_carousel {
    width: 600px;
    margin: auto;
}

.photos_carousel p {
    color: white;
    text-shadow: 0 1px 0 rgb(0, 0, 0), 0 -1px 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0);
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.slider_albums_photo {
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .upload_image_card {
        display: block;
    }

    .photos_carousel {
        width: 350px;
    }
}

.upload_img button i {
    color: red;
}


#upload_btn {
    margin-top: 10px;
}

.card-body a {
    text-decoration: none;
    color: white;
}

#circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    background-size: 100%;
    font-size: 50px;
    text-shadow: 0 1px 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255), 1px 0 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255);
}